OUR_HOME_DOMAIN=localhost
OUR_HOME_PORT=4000

# Update with a full path to the application directory
OUR_HOME_DATABASE_PATH="<REPLACE_WITH_FULL_PATH_TO_APP>/data/our_home.dev.db"
OUR_HOME_DATABASE_POOL_SIZE=5

# Generate a secret key base using: $ mix phx.gen.secret
OUR_HOME_SECRET_KEY_BASE=

# The auth token is an encoded version of the web password
# To find the value open `setupVars`:
# - If using a Raspberry Pi: `$ cat /etc/pihole/setupVars.conf`
# - If using a Docker image: `$ docker exec -it pihole cat /etc/pihole/setupVars.conf`
# Then copy the value of `WEBPASSWORD="..."` below
PIHOLE_API_AUTH_TOKEN="06f5b354545357fd02f2b66800a4f59a475fedc1329fa3ee7276d0056b04191a"
