# The auth token is an encoded version of the web password
# To find the value open `setupVars`:
# - If using a Raspberry Pi: `$ cat /etc/pihole/setupVars.conf`
# - If using a Docker image: `$ docker exec -it pihole cat /etc/pihole/setupVars.conf`
# Then copy the value of `WEBPASSWORD="..."` below
PIHOLE_API_AUTH_TOKEN="06f5b354545357fd02f2b66800a4f59a475fedc1329fa3ee7276d0056b04191a"
