<div class="mt-6 w-96 md:w-30rem xl:w-48rem">
  <div class="mb-3 text-fuchsia-800 opacity-50 uppercase font-bold text-sm tracking-wider">Actions</div>

  <div class="grid grid-cols-1 xl:grid-cols-3 gap-x-8">
    <%= render "_action_adblocker.html", assigns %>
  </div>
</div>
